{{!-- articles --}}

{{!-- EDIT --}}
<form method="POST" action="/articles/{{title}}?_method=PUT">
  <button type="submit">EDIT article</button>
</form>

{{!-- DELETE --}}
<form method="POST" action="/articles/{{title}}?_method=DELETE">
  <button type="submit">Delete article</button>
</form>