{{!-- products --}}


{{!-- EDIT ---}}
<form method="POST" action="/products/{{id}}?_method=PUT">
  <button type="submit">EDIT product</button>
</form>

{{!-- DELETE --}}
<form method="POST" action="/product/{{id}}?_method=DELETE">
  <button type="submit">DELETE product</button>
</form>