{{!-- EDIT --}}
<form method="POST" action="/products/{{id}}?_method=PUT">
  <button type="submit">EDIT resource</button>
</form>

{{!-- DELETE --}}
<form method="POST" action="/articles/{{id}}?_method=DELETE">
  <button type="submit">DELETE resource</button>
</form>